body {
    background-image: url('C:\Users\joãopaulosoftx\Desktop\Previsão do tempo (REACT)\tempo\src\sales.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
 